body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  margin: 0;
  background: url('/public/img/body_new_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  user-select: none;
}
.container {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1;
  width: clamp(300px, 80%, 90%);
  max-width: 1290px;
  border-radius: clamp(20px, 10%, 45px);
  background: linear-gradient(2deg,#6d88d9bf,#6d88d900,#000000eb);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 15vh;
  height: clamp(30vh, 60vh, 80vh);
  margin: auto;
  border: 1px solid black;
  box-shadow: -0px 0px 0px rgba(0, 0, 0, 0.29),
  -4px 3px 4px rgba(3, 7, 18, 0.29),
  -8px 6px 8px rgba(3, 7, 18, 0.29),
  -12px 9px 12px rgba(3, 7, 18, 0.29),
  -17px 12px 17px rgba(3, 7, 18, 0.29),
  -2px 1px 2px rgb(3, 7, 18),
  -23px 17px 23px rgba(3, 7, 18, 0.29);
  filter: contrast(150%);
  animation: fadeIn 1s ease-in-out;
}

.status_bar{
  position: absolute;
  height: 47px;
  width: clamp(300px, 80%, 90%);
  max-width: 1290px;
  border-radius: 43px 43px 0 0;
  justify-content: center;
  align-items: center;
  background: transparent;
}
.status_bar .img1{
  position: absolute;
  left: 1150px;
  top: 17px;
}

.status_bar .clock{
  position: absolute;
  left: 50px;
  top: 14px;
  font-family: 'Exo 2', sans-serif;
  font-weight: 500;
  font-size: 17px;
  color: white;
}

form {
  position: relative;
  transform: translate(-50%, -50%);
  left: 45%;
  top: 89.5%; 
  background: transparent !important;
  width: clamp(200px, 40%, 560px);
  height: clamp(100px, 19.5%, 290px);
  border-radius: 0 0 45px 45px;
}

form input {
  width: clamp(250px, 60%, 360px);
  height: 50px;
  outline: none;
  background: transparent;
  color: white;
  border: none;
  display: flex;
  justify-content: center;
  position: relative;
  left: 177px;
  align-items: center;
  caret-color: white;
  font-family: 'Exo 2', sans-serif;
  text-align: center;
  border-bottom: 2px solid white;
  font-size: clamp(20px, 4vw, 24px);
}
form input:-webkit-autofill, form input.filled{
  -webkit-text-fill-color: white;
  font-family: 'Exo 2', sans-serif;
  color: white;
  background-color: transparent;
  text-align: center;
  font-size: clamp(20px, 4vw, 24px);
  transition: background-color 5000s ease-in-out 0s;
}

form input::placeholder{
  text-align: center;
  color: white;
  font-size: clamp(20px, 4vw, 24px);
  font-family: 'Exo 2', sans-serif;
  font-weight: 500;
}


form button{
  top: 5%;
  width: clamp(200px, 50%, 300px);
  height: 35px;
  position: relative;
  border: none;
  color: white;
  border-radius: 20px;
  left:15%;
  text-align: center;
  font-size: clamp(16px, 3vw, 19px);
  font-family: 'Exo 2', sans-serif;
  background: rgb(56 56 56 / 82%);
  font-weight: 600;
  transition: transform 0.4s ease-in;
}
form button:hover{
  transform: scale(0.95);
}

.error {
  color: red;
}
.card {
  padding: clamp(10px, 2%, 20px);
  font-size: clamp(1rem, 2vw, 1.5rem);
  display: flex;
  background: transparent !important;
  position: absolute;
  font-family: 'Roboto', sans-serif;
  left: 20%;
  transform: translate(-50%, 0);
}

.city , .temperature, .weather-description{
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; 
  letter-spacing: 0.374px;
}

.temperature{
  font-size: clamp(28px, 5vw, 37px);
  position: relative;
  font-family: 'Exo 2', sans-serif;
  font-style: italic;
  font-weight: 500;
  color: white;
}

.weather-description{
  font-size: clamp(16px, 3vw, 20px);
  position: relative;
  font-family: 'Exo 2', sans-serif;
  font-weight: 400;
  font-style: italic;
  color: rgba(255, 255, 255, 0.885);
}

.city{
  color: white;
  font-family: 'Barlow', sans-serif;
  font-weight: 500;
  position: relative;
  font-size: clamp(39px, 20vw, 50px);
}

.max-temperature, .min-temperature {
position: relative;
color: white;
font-family: 'Exo 2', sans-serif;
font-weight: 400;
font-size: 16px;
padding-left: 30px;
}

.temperature-details {
position: relative;
display: flex;
left: 20%;
flex-direction: row;
}


.extra {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  width: 390px;
}
.extra-info {
  flex: 1;
  max-width: 400px;
  margin-right: 15px;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 5%;
  font-size: 12px;
  color: white;
  font-family: 'Play', sans-serif;
  font-weight: 400;
  background: transparent;
  border-radius: 45px;
}

.map_card{
  background: transparent;
  width: 650px;
  height: 285px;
  font-size: clamp(1rem, 2vw, 1.5rem);
  display: inline-block;
  position: absolute;
  font-family: 'Roboto', sans-serif;
  top: 18vh;
  right: -13vw;
  border-radius: 45px;
  transform: translate(-50%, 0);
  animation: mapFade 1.5s ease-in;
}

.weather_data {
position: relative;
flex: 1;
padding-left: 160%;
top: -10.5vh;
right: 35vw;
animation: fadeTwo 1.2s ease-in;
}
canvas{
border-radius: 45px;
filter:contrast(0.75) brightness(1);
}
.air-pollution {
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
  flex-direction: row;
  color: white;
  left: 34vw;
  border: 2px solid white;
  width: 500px;
  height: 60px;
  background: transparent;
  backdrop-filter: blur(8px);
  border-radius: 45px;
  top: -3vh;
  padding-left: 20px;
  animation: fadeOne 1.2s ease-in;
}

.air-pollution p{
  padding-right: 35px;
  font-family: 'Exo', sans-serif;
  font-weight: 300;
  font-size: 16px;
}

.air_img {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  border-radius: 45px;
  backdrop-filter: blur(16px);
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  animation: mapFade 0.3s ease-in;
}

.air_img .closeBtn{
  position: absolute;
  right: 20px;
  top: 20px;
  border: none;
  outline: none;
  background: transparent;
  color: white;
  font-size: 24px;
}

.air_img img{
  position: absolute;
  width: 800px;
  border: 2px solid black;
  height: 400px;
  left: 12vw;
  top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOne{
  from {
    opacity: 0;
    transform: translateY(-45px);
  }to{
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeTwo {
  from{
    opacity: 0;
    transform: translateX(-45px);
  }to{
    opacity: 1;
    transform: translateX(0);
  }
}
 @keyframes mapFade {
  from{ 
    opacity: 0;
  }
  to{
    opacity: 1;
  }
 }