body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    margin: 0;
    background: rgba(216, 216, 216, 0.728);
  }
  
  .container {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 1290px;
    border-radius: clamp(20px, 10%, 45px);
    background: url('/public/img/weather_app_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 70px;
    height: clamp(30vh, 60vh, 80vh);
    margin: auto;
    border: 1px solid white;
    box-shadow: -0px 0px 0px rgba(3, 7, 18, 0.29),
                -4px 3px 4px rgba(3, 7, 18, 0.29),
                -8px 6px 8px rgba(3, 7, 18, 0.29),
                -12px 9px 12px rgba(3, 7, 18, 0.29),
                -17px 12px 17px rgba(3, 7, 18, 0.29),
                -2px 1px 2px rgba(3, 7, 18, 0.29),
                -23px 17px 23px rgba(3, 7, 18, 0.29);

  }


  .status_bar{
    position: absolute;
    height: 47px;
    width: 390px;
    border-radius: 43px 43px 0 0;
    justify-content: center;
    align-items: center;
}
.status_bar .img1{
    position: absolute;
    left: 1150px;
    top: 17px;
}

.status_bar .clock{
    position: absolute;
    left: 50px;
    top: 14px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 500;
    font-size: 17px;
    color: white;
}
  
  form {
    position: relative;
    transform: translate(-50%, -50%);
    left: 45%;
    top: 80.5%; 
    background: transparent !important;
    width: clamp(200px, 40%, 560px);
    height: clamp(100px, 19.5%, 290px);
    border-radius: 0 0 45px 45px;
  }

  form input {
    width: clamp(250px, 60%, 360px);
    height: 50px;
    outline: none;
    background: transparent;
    color: white;
    border: none;
    display: flex;
    justify-content: center;
    position: relative;
    left: 177px;
    align-items: center;
    caret-color: white;
    font-family: 'Exo 2', sans-serif;
    text-align: center;
    border-bottom: 2px solid white;
  }
  form input:-webkit-autofill, form input.filled{
    -webkit-text-fill-color: white;
    font-family: 'Exo 2', sans-serif;
    color: white;
    background-color: transparent;
    text-align: center;
    font-size: clamp(20px, 4vw, 24px);;
    transition: background-color 5000s ease-in-out 0s;
  }

  form input::placeholder{
    text-align: center;
    color: white;
    font-size: clamp(20px, 4vw, 24px);
    font-family: 'Exo 2', sans-serif;
    font-weight: 300;
  }

  form button{
    top: 5%;
    width: clamp(200px, 50%, 300px);
    height: 35px;
    position: relative;
    border: none;
    left:15%;
    text-align: center;
    font-size: clamp(16px, 3vw, 19px);
    font-family: 'Exo 2', sans-serif;
    font-weight: 300;
  }
  
  .error {
    color: red;
  }
  .card {
    padding: clamp(10px, 2%, 20px);
    font-size: clamp(1rem, 2vw, 1.5rem);
    display: inline-block;
    background: transparent !important;
    position: absolute;
    font-family: 'Roboto', sans-serif;
    left: 20%;
    transform: translate(-50%, 0);
  }
  
  .city , .temperature, .weather-description{
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
    letter-spacing: 0.374px;
}

.temperature{
    font-size: clamp(28px, 5vw, 37px);
    position: relative;
    font-family: 'Exo 2', sans-serif;
    font-style: italic;
    font-weight: 500;
    color: white;
}

.weather-description{
    font-size: clamp(16px, 3vw, 20px);
    position: relative;
    font-family: 'Exo 2', sans-serif;
    font-weight: 400;
    font-style: italic;
    color: rgb(146, 146, 146);
}

.city{
    color: white;
    font-family: 'Exo 2', sans-serif;
    font-weight: 700;
    position: relative;
    font-size: clamp(24px, 5vw, 34px);
}

.extra {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    width: 390px;
}
.extra-info {
    flex: 1;
    max-width: 400px;
    margin-right: 15px;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 5%;
    font-size: 12px;
    color: white;
    font-family: 'Exo 2', sans-serif;
    background: transparent;
    backdrop-filter: blur(8px);
    border-radius: 45px;
}

footer{
    position: absolute; 
    bottom: 0; 
    text-align: center; 
    width: 100%; 
    height: 10vh;
    background-color: transparent; 
    color: black;
}

.author h2{
    font-family: 'Exo 2', sans-serif;
    font-size: 32px;
    font-weight: 400;
}

.author{
    text-align: center;
    display: flex;
    left: 36%;
    position: absolute;
}
.author .social{
    list-style: none;
    position: relative;
    top: 16px;
}
.author .social a{
    color: black;
    text-decoration: none;
    outline: none;
    font-size: 24px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 200;
    font-style: italic;
}

.map_card{
    background: white;
    padding: clamp(10px, 2%, 20px);
    font-size: clamp(1rem, 2vw, 1.5rem);
    display: inline-block;
    position: absolute;
    font-family: 'Roboto', sans-serif;
    right: 20%;
    top: 180px;
    transform: translate(-50%, 0);
}

